body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}


/* tooltip */ 
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 35em;
    color: white;
    font-size: 16px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
 
/* Arrow
.tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
  }
*/

.hover-text:hover .tooltip-text {
    visibility: visible;
  }
  
#top {
    top: -70px;
    left: 20px;
  }
  
#top::before {
    top: 80%;
    left: 45%;
  }

.hover-text {
    position: relative;
    display: inline-block;
    font-family: Arial;
    /* text-align: center; */
  }
/* END tooltip */ 

/* Volet config https://codepen.io/bazooka07/pen/rqEoee */ 
* { margin:0; padding: 0; box-sizing: border-box; }
#volet_clos {
	position: fixed;
	top: 0;
	/* auto-centreur horizontal */
	--width0 : 22rem; /* demi-largeur */
	left: calc(50vw - var(--width0));
	right: calc(50vw - var(--width0));
}
#volet {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: #f2f2f2;
    color: #333;
    text-align: center;
	-webkit-transition: transform .5s ease-in;
	-moz-transition: transform .5s ease-in;
	transition: transform .5s ease-in;
}

#volet_clos .onglets {
	--width1: 3rem; /* demi-largeur */
	position: absolute;
	top: 100%;
	left: calc(50% - var(--width1));
	right: calc(50% - var(--width1));
	padding: 0.3rem 0;
	background: #0000008a;
	border-radius: 0 0 25px 25px;
}

#volet_clos a.ouvrir,
#volet_clos a.fermer {
	text-decoration: none;
    color: #efefef;
}
#volet_clos a.fermer { display: none; }

/* ouverture */
#volet:target { transform: translateY(100%); }
#volet:target a[href="#volet"] { display: none; }
#volet:target a[href="#volet_clos"] { display: initial; }

/* Volet config https://codepen.io/bazooka07/pen/rqEoee */


#json-files {
    margin: 10px;
}

